@import "variables/colors";

:local {
	.searchBar {
		margin: 20px auto 30px auto;
		width: 50%;
		padding: 30px 0 30px 0;
		border: 1px solid;
		border-radius: 15px;
	}

	.searchInput {
		margin-left: 20px;
	}

	.artistRadioButton,
	.albumRadioButton {
		margin-left: 30px;
	}

	.seearchButton {
		color: $white;
		border-radius: 4px;
		background: $blue;
		margin-left: 30px;
	}
}
