@import "variables/colors";

:local {
	.root {
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		background: $lighter-black;
		z-index: 900;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.children {
		background: $white;
		position: absolute;
		height: 80%;
		top: auto;
		left: auto;
		width: 50%;
		padding: 57px 60px 20px;
		overflow: scroll;
	}

	.close {
		position: absolute;
		top: 27px;
		right: 22px;
		border: 0;
		height: 30px;
		width: 30px;
		cursor: pointer;

		&:focus {
			outline: 0;
		}
	}
}
